<div class="table-responsive" >
    <table class="table table-striped b-t b-light">
        <thead>
            <tr style="background-color: #EAF0F7;">
                <th>应用ID</th>
                <th>应用名称</th>
                <th>应用编码</th>
                <th>应用网址</th>
                <th>创建时间</th>
                <th>状态</th>
                <th class="col-sm-2">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in applications">
                <td>{{item.app_id}}</td>
                <td>{{item.app_name}}</td>
                <td>{{item.app_code}}</td>
                <td>{{item.app_url}}</td>
                <td>{{item.app_create_time | date : 'yyyy-MM-dd HH:mm'}}</td>
                <td>{{item.statusTxt}}</td>
                <td>
                    <button class="btn btn-sm text-xs l-h-1x m-r-md btn-danger" ng-click="switch(item, $event)">
                        {{item.switchTxt}}
                    </button>
                    <button class="btn btn-sm text-xs l-h-1x m-r-md btn-primary" ng-click="update(item, $event)">{{ 'common.modify' | translate }}</button>
                </td>
            </tr>

            <!-- 查询无数据 -->
            <tr ng-if="!applications.length">
                <td class="text-center" colspan="12" >{{ 'common.noDatas' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer">
    <div class="text-center" ng-show="applications.length > 0">
        <pagination total-items="pager.itemCount" items-per-page="pager.pageSize" ng-model="vm.currentPage" class="pagination-sm" boundary-links="true" rotate="false" max-size="6" ng-change="search()"></pagination>
    </div>
</div>

<!-------------------------ng-template------------------------------>
<!--applicationModal-->
<script type="text/ng-template" id="applicationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">新增应用</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal form-validation" name="formApplicationModal" ng-class="{'ng-submitted': submitted}"
              ng-submit="submitted = true;formApplicationModal.$valid && ok(formApplicationModal)" novalidate>
            <div class="form-group">
                <label class="col-lg-2 control-label"><b style="color:#F00;">*</b>应用名称:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="" name="appName" ng-model="ngData.app_name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"><b style="color:#F00;">*</b>应用编码:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="" name="appCode" ng-model="ngData.app_code" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"><b style="color:#F00;">*</b>应用URL:</label>
                <div class="col-lg-10">
                    <input type="url" class="form-control" placeholder="" name="appUrl" ng-model="ngData.app_url" required>
                </div>
            </div>

            <!--btn-->
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="formApplicationModal.$invalid">确定</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
            </div>
        </form>
    </div>
</script>