<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}
</style>
<!-- 知识库列表分页数据 -->
<div class="table-responsive" >
    <table class="table table-striped b-t b-light" style="margin-bottom: 0px;">
        <thead>
            <tr style="background-color: #EAF0F7;">
                <th ng-if="controlPrivilege == true">Action</th>
                <th>RMA No</th>
                <th>Order No</th>
                <th>Status</th>
                <th>Create Time</th>
                <th>In House TAT</th>
                <th>RMA Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="handling in handlingFormList">
                <td ng-if="controlPrivilege == true">
                    <div style="text-align: center;" ng-if="handling.status == 210">
                        <button class="btn btn-default" type="button" ng-click="inputTrackingNo(handling.rmaSheetId, handling.status, handling.returnTrackingNo, handling.returnTrackingCarrier)">Input tracking no.</button>
                        <button class="btn btn-default" type="button" ng-click="receive(handling.rmaSheetId, handling.status)">Receive</button>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 220">
                        <button class="btn btn-default" type="button" ng-click="acceptArrangement(handling.rmaSheetId, handling.status)">Accept arrangement</button>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 240 && handling.returnMethod == 20">
                        <div class="ng-cloak">
                            <button class="btn btn-default" type="button" ng-click="inputTrackingNo(handling.rmaSheetId, handling.status,handling.returnTrackingNo, handling.returnTrackingCarrier)">Input tracking no.</button>
                            <button class="btn btn-default" type="button" ng-click="pickup(handling.rmaSheetId, handling.status)">Pick-up</button>
                        </div>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 240 && handling.returnMethod == 30">
                        <div >
                            <button class="btn btn-default" type="button" ng-click="inputTrackingNo(handling.rmaSheetId, handling.status, handling.returnTrackingNo, handling.returnTrackingCarrier)">Input tracking no.</button>
                            <button class="btn btn-default" type="button"  ng-click="dropOff(handling.rmaSheetId, handling.status)">Drop off</button>                      
                        </div>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 250">
                        <div>
                            <button class="btn btn-default" type="button" ng-click="inputTrackingNo(handling.rmaSheetId, handling.status, handling.returnTrackingNo, handling.returnTrackingCarrier)">Input tracking no.</button>
                            <button class="btn btn-default" type="button" ng-click="receive(handling.rmaSheetId, handling.status)">Receive</button>
                        </div>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 260">
                        <div>
                            <button class="btn btn-default" type="button" ng-click="inputTrackingNo(handling.rmaSheetId, handling.status, handling.returnTrackingNo, handling.returnTrackingCarrier)">Input tracking no.</button>
                            <button class="btn btn-default" type="button"  ng-click="receive(handling.rmaSheetId, handling.status)">Receive</button>
                        </div>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 280">
                        <button class="btn btn-default" type="button"  ng-click="inspect(handling.rmaSheetId, handling.status)">Inspect</button>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 290">
                        <a target="_blank" href="#"  class="btn btn-default" ui-sref="app.site.process({id:handling.rmaSheetId,step:2})" >Inspect</a>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 300">
                        <button class="btn btn-default" type="button" ng-if="handling.checkoutPrice > 0"  ng-click="sendQuotation(handling.rmaSheetId, handling.status)">Send quotation</button>
                        <button class="btn btn-default" type="button" ng-if="handling.checkoutPrice == 0 && handling.type == 20"    ng-click="replace(handling.rmaSheetId, handling.status)">Replace</button>
                        <button class="btn btn-default" type="button" ng-if="handling.checkoutPrice == 0 && handling.type == 30"  ng-click="repair(handling.rmaSheetId, handling.status)">Repair</button>
                        <button class="btn btn-default" type="button"  ng-if="handling.checkoutPrice == 0 && handling.type == 10" ng-click="applyRefund(handling.rmaSheetId, handling.status)">Apply refund</button>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 310">
                        <div  ng-if="handling.type == 20">
                            <button class="btn btn-default" type="button"   ng-click="sendBack(handling.rmaSheetId, handling.status)">Send back</button>
                        </div>
                        <div style="width:50%;float: left;" ng-if="handling.type != 20">
                            <button class="btn btn-default" type="button"   ng-click="sendBack(handling.rmaSheetId, handling.status)">Send back</button>
                        </div>
                        <div style="width:50%;float: left;" ng-if="handling.type == 30">
                            <button class="btn btn-default" type="button"    ng-click="repair(handling.rmaSheetId, handling.status)">Repair</button>
                        </div>
                        <div style="width:50%;float: left;" ng-if="handling.type == 10" >
                            <button class="btn btn-default" type="button"   ng-click="applyRefund(handling.rmaSheetId, handling.status)">Apply refund</button>
                        </div>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 330">
                        <a target="_blank" href="#" class="btn btn-default" type="button"  ui-sref="app.site.process({id:handling.rmaSheetId,step:3})">Repair</a>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 350">
                        <button class="btn btn-default" type="button"   ng-click="release(handling.rmaSheetId, handling.status)">Release</button>
                    </div>
                    
                    <div style="text-align: center;" ng-if="handling.hasLogistics == 0 && handling.status == 60">
                        <button class="btn btn-default" type="button" ng-if="handling.checkoutPrice == 0 && handling.type == 20"    ng-click="replace(handling.rmaSheetId, handling.status)">Replace</button>
                        <button class="btn btn-default" type="button" ng-if="handling.type == 30"  ng-click="release(handling.rmaSheetId, handling.status)">Release</button>
                    </div>
                    <div style="text-align: center;" ng-if="handling.status == 101 && handling.hasLogistics == 0">
                        <button class="btn btn-default" type="button" ng-click="sendBack(handling.rmaSheetId, handling.status)">Send back</button>
                    </div>

                    <!-- RMA To Send Back -->
                    <div style="text-align: center;" ng-if="handling.status == 100">
                        <button class="btn btn-default" type="button" ng-click="sendBack(handling.rmaSheetId, handling.status)">Send back</button>
                    </div>

                </td>
                <td><a ui-sref="app.site.process({id:handling.rmaSheetId,step:1})" target="_blank" href="#" class="text-info ng-scope" tooltip="view">{{handling.rmaSheetId}}</a></td>
                <td>{{handling.sourceId}}</td>
                <td>
                    {{handling.statusTxt}}
                    <span style="padding:4px 2px;" class="label bg-danger" ng-if="handling.pendingType>0">pending</span>
                    <span style="padding:4px 2px;" class="label bg-danger" ng-if="handling.flags">EA</span>
                </td>
                <td>{{handling.createTime|date:'yyyy-MM-dd'}}</td>
                <td>
                    <a tooltip="TAT = 'send back date' - 'device delivered date' or  'current date' - 'device delivered date'" ui-sref="app.logistics.rmaLogisticsList({rma:handling.rmaSheetId})" target="_blank" href="#" class="text-info ng-scope">
                        {{handling.inHouseTat}}
                    </a>
                </td>
                <td>{{handling.typeTxt}}</td>
            </tr>
            <!-- 查询无数据 -->
            <tr ng-if="!handlingFormList.length">
                <td class="text-center" colspan="12" >{{ 'navigation.NoDatas' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer">
    <div class="text-center" ng-show="1">
        <pagination total-items="pager.totalRecord" items-per-page="pager.pageSize" ng-model="vm.currentPage" class="pagination-sm" boundary-links="true" rotate="false" max-size="6" ng-change="search()"></pagination>
    </div>
</div>