<style type="text/css">
    #main {
        margin: 100px auto;
        width: 300px;
    }
    #main a {
        text-decoration: none;
        position: relative;
        display: block;
    }
    #main div {
        display: none;
    }
    #main a:hover {
        visibility: visible;
    }
    #main a:hover div {
        position: absolute;
        left: 30px;
        top: 10px;
        display: block;
        width: 400px;
        max-height: 330px;
        overflow-y: auto;
    }
</style>

<div class="container-fluid listStoreKnowledge wrapper-md" ng-controller="siteRmaDetailController">
    <div class="panel panel-info" draggable="false">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">RMA info</div>
        <div class="list-group bg-white" style="padding: 20px;">
            <table class="rma-detail-table">
                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Order #: </span>
                        <span ng-bind="rmaSheetDetail.sourceId"></span>
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Customer Name: </span>
                        <!--<span ng-bind="rmaSheetDetail.rmaAddress.receiverName"></span>-->
                        <span ng-bind="rmaSheetDetail.rmaAddress.receiverFirstName + ' ' + rmaSheetDetail.rmaAddress.receiverLastName">
                    </td>
                </tr>
                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Delivery: </span>
                        <span ng-bind="rmaSheetDetail.sourceCompleteTime|date:'yyyy - MM - dd'"></span>
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Phone Number: </span>
                        <span ng-bind="rmaSheetDetail.rmaAddress.phoneNumber"></span>
                    </td>
                </tr>
                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Type: </span>
                        <span ng-bind="rmaSheetDetail.typeTxt"></span>
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Status: </span>
                        <span ng-bind="rmaSheetDetail.statusTxt"></span>
                        <span style="padding:0px;" class="label bg-danger" ng-if="rmaSheetDetail.flags">EA</span>
                    </td>
                </tr>

                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td" colspan="2">
                        <span class="rma-detail-span">Address: </span>
                        <span ng-bind="rmaSheetDetail.rmaAddress.addrStreetName"></span>
                        <span ng-bind="rmaSheetDetail.rmaAddress.addrCityName"></span>
                        <span ng-bind="rmaSheetDetail.rmaAddress.addrProvName"></span>
                        <span ng-bind="'country.' + rmaSheetDetail.rmaAddress.country | translate"></span>
                    </td>
                </tr>

                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Service Center: </span>
                        <span ng-bind="rmaSheetDetail.houseCode"></span>
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">User ID:{{rmaSheetDetail.treatmentType}} </span>
                        <span ng-bind="rmaSheetDetail.customerId"></span>
                    </td>

                </tr>
                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">RMA Reason: </span>
                        <span ng-bind="pending.rmaReason"></span>
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Postal Code: </span>
                        <span ng-bind="rmaSheetDetail.rmaAddress.postCode"></span>
                    </td>
                </tr>

                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Return Method: </span>
                        <span ng-bind="rmaSheetDetail.returnMethodTxt"></span>
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Email Address: </span>
                        <span ng-bind="rmaSheetDetail.rmaAddress.email"></span>
                    </td>
                </tr>
                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Return Tracking no: </span>
                        <span ng-bind="rmaSheetDetail.returnTrackingNo"></span>
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span">Return Tracking Carrier: </span>
                        <span ng-bind="rmaSheetDetail.returnTrackingCarrier"></span>
                    </td>
                </tr

                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td">
                        <span class="rma-detail-span" style="float:left;">CustomerReceived: </span>
                        <span ng-bind="rmaSheetDetail.customerReceived == 1 ? 'Yes':'No'"></span>
                    </td>

                    <td class="rma-detail-td" id="main">
                        <span class="rma-detail-span" style="float:left;">Notes: </span>
                        <a href="javascript:void(0)" style="float:left;margin-left: 20px;">
                            <i class="fa fa-list-alt" style=""></i>

                            <div class="panel b-a" ng-if="rmaSheetDetail.commonNotesList">
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        ng-repeat="commonNotesList in rmaSheetDetail.commonNotesList">
                                        <i class="icon-user"></i> <span>{{commonNotesList.createUser}}</span><span
                                            style="margin-left:20px;float: right;">{{commonNotesList.createTime|date:'yyyy-MM-dd'}}</span>
                                        <br>
                                        <span style="margin-left:20px;max-width: 250px;word-break: break-all;color:#ccc;">
                                            {{commonNotesList.content}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>

                    <td class="rma-detail-td" style="max-width: 600px;word-break: break-all;">
                        <span class="rma-detail-span">Cancel Reason: </span>
                        <span ng-bind="rmaSheetDetail.cancelReason"></span>
                    </td>
                </tr>

                <tr>
                    <td class="rma-detail-tdspan">
                        &nbsp;
                    </td>
                    <td class="rma-detail-td" style="max-width: 600px;word-break: break-all;">
                        <span class="rma-detail-span">Issue: </span>
                        <span ng-bind="rmaSheetDetail.reasonDescr"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-info" draggable="false">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">Product info</div>
        <div class="list-group bg-white table-responsive" style="padding: 20px;">
            <table class="table table-striped b-t b-light" style="width: 90%;border: 1px solid #dee5e7;">
                <thead>
                    <tr>
                        <th>Order&nbsp;#</th>
                        <th>SKU</th>
                        <th>IMEI</th>
                        <th>NEW IMEI</th>
                        <th>Product Name</th>
                        <th>Purchase Qty</th>
                        <th>Original Price</th>
                        <th>Discount Price</th>
                        <th>Submit Qty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rmaGoodsList in rmaSheetDetail.rmaGoodsList">
                        <td class="rma-detail-td">
                            {{rmaSheetDetail.sourceId}}
                        </td>
                        <td class="rma-detail-td">
                            {{rmaGoodsList.goodsCode}}
                        </td>
                        <td class="rma-detail-td" style='min-width: 130px;max-width: 150px;'>
                            <span style="width: 100%;float: left;">{{rmaGoodsList.imeiOld1}}</span>
                            <span style="width: 100%" ng-if="rmaGoodsList.imeiOld2 != '' && rmaGoodsList.imeiOld2 != null">{{rmaGoodsList.imeiOld2}}</span>
                        </td>
                        <td class="rma-detail-td" style='min-width: 130px;max-width: 150px;'>
                            <span style="width: 100%;float: left;">{{rmaGoodsList.imeiNew1}}</span>
                            <span style="width: 100%" ng-if="rmaGoodsList.imeiNew2 != '' && rmaGoodsList.imeiNew2 != null">{{rmaGoodsList.imeiNew2}}</span>
                        </td>
                        <td class="rma-detail-td">
                            {{rmaGoodsList.goodsName}}
                        </td>
                        <td class="rma-detail-td">
                            {{rmaGoodsList.orderQty}}
                        </td>
                        <td class="rma-detail-td">
                            {{rmaGoodsList.originalPrice / 100| number :2}}
                        </td>
                        <td class="rma-detail-td">
                            {{rmaGoodsList.discountAmount / 100| number :2}}
                        </td>
                        <td class="rma-detail-td">
                            {{rmaGoodsList.submitQty}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-success" draggable="false"
         ng-if="rmaSheetDetail.status > 290 || rmaSheetDetail.status == 101 || rmaSheetDetail.status == 60">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">Inspection</div>
        <div class="list-group bg-white" style="padding: 20px;">
            <span class="rma-detail-span" style="">Remark: </span>{{rmaSheetDetail.inspectRemark}}<br>
            <span class="rma-detail-span" style="">Treatment: </span>{{rmaSheetDetail.treatmentTxt}}<br>
            <span class="rma-detail-span" style="">out of warranty: </span>{{rmaSheetDetail.depreciatePrice / 100|
            number :2}}
            <span class="rma-detail-span" style="padding-left: 20px;">discount: </span>{{(rmaSheetDetail.depreciatePrice
                                / 100 - rmaSheetDetail.checkoutPrice)| number :2}}
            <span class="rma-detail-span" style="padding-left: 20px;">payment: </span>{{rmaSheetDetail.checkoutPrice|
            number :2}}(currency:{{rmaSheetDetail.currency}})
            <table class="table table-striped b-t b-light"
                   style="margin-top: 20px;width: 90%;border: 1px solid #dee5e7;"
                   ng-if="rmaSheetDetail.quotationCodesIns.length > 0">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Quotation</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quotationCodes in rmaSheetDetail.quotationCodesIns">
                        <td class="rma-detail-td">
                            {{quotationCodes.goodsCode}}
                        </td>
                        <td class="rma-detail-td">
                            {{quotationCodes.type}}
                        </td>
                        <td class="rma-detail-td" style="word-break: break-all;">
                            {{quotationCodes.descr}}
                        </td>
                        <td class="rma-detail-td">
                            {{quotationCodes.price / 100| number :2}}
                        </td>
                        <td class="rma-detail-td">
                            {{quotationCodes.currency}}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-warning" draggable="false"
         ng-if="rmaSheetDetail.status == 60 || rmaSheetDetail.status == 350">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">Repair</div>
        <div class="list-group bg-white" style="padding: 20px;">
            <span class="rma-detail-span" style=""
                  ng-if="rmaSheetDetail.quotationCodes.length > 0">Replacement Parts: </span>
            <table class="table table-striped b-t b-light"
                   style="margin-top: 20px;width: 90%;border: 1px solid #dee5e7;"
                   ng-if="rmaSheetDetail.quotationCodes.length > 0">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Quotation</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quotationCodes in rmaSheetDetail.quotationCodes">
                        <td class="rma-detail-td">
                            {{quotationCodes.goodsCode}}
                        </td>
                        <td class="rma-detail-td">
                            {{quotationCodes.type}}
                        </td>
                        <td class="rma-detail-td" style="word-break: break-all;">
                            {{quotationCodes.descr}}
                        </td>
                        <td class="rma-detail-td">
                            {{quotationCodes.price / 100| number :2}}
                        </td>
                        <td class="rma-detail-td">
                            {{quotationCodes.currency}}
                        </td>

                    </tr>
                </tbody>
            </table>

            <span class="rma-detail-span" style="" ng-if="rmaSheetDetail.imeiRecord.length > 0">IMEI Record: </span>
            <table class="table table-striped b-t b-light"
                   style="margin-top: 20px;width: 90%;border: 1px solid #dee5e7;min-width: 900px;"
                   ng-if="rmaSheetDetail.imeiRecord.length > 0">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Product</th>
                        <th>Previous IMEI</th>
                        <th>NEW IMEI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rmaGoodsList in rmaSheetDetail.imeiRecord">
                        <td class="rma-detail-td">
                            {{rmaGoodsList.goodsCode}}
                        </td>
                        <td class="rma-detail-td">
                            {{rmaGoodsList.goodsName}}
                        </td>
                        <td class="rma-detail-td">
                            <span style="width: 100%;float: left;">{{rmaGoodsList.imeiOld1}}</span>
                            <span style="width: 100%" ng-if="rmaGoodsList.imeiOld2 != '' && rmaGoodsList.imeiOld2 != null">{{rmaGoodsList.imeiOld2}}</span>
                        </td>
                        <td class="rma-detail-td">
                            <span style="width: 100%;float: left;">{{rmaGoodsList.imeiNew1}}</span>
                            <span style="width: 100%" ng-if="rmaGoodsList.imeiNew2 != '' && rmaGoodsList.imeiNew2 != null">{{rmaGoodsList.imeiNew2}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <div style="width: 80%;word-break: break-all;">
                <span class="rma-detail-span" style="">Repair Detail: </span><span style="">{{rmaSheetDetail.repairDetail}}</span><br>
                <span class="rma-detail-span" style="">Software Version: </span>{{rmaSheetDetail.softwareVersion}}<br>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" draggable="false"
         ng-if="rmaSheetDetail.status == 101 || rmaSheetDetail.status == 60">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">Release info</div>
        <div class="list-group bg-white" style="padding: 20px;">
            <span class="rma-detail-span" style="">Carrier: </span>{{rmaSheetDetail.carrier}}
            <span class="rma-detail-span" style="padding-left:  20px;">Tracking no: </span>{{rmaSheetDetail.trackingNo}}
            <span class="rma-detail-span" style="padding-left:  20px;">Carriage: </span>{{rmaSheetDetail.carriagePrice /
                                100| number :2}} (currency:{{rmaSheetDetail.currency}})
        </div>
    </div>

    <div style="text-align: center;margin-top: 40px;" ng-if="rmaSheetDetail.controlPrivilege == true">
        <div ng-if="rmaSheetDetail.status == 210">
            <button class="btn m-b-xs w-xs btn-info btn-rounded" style="width: 130px;" type="button"
                    ng-click="inputTrackingNo(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.returnTrackingNo, rmaSheetDetail.returnTrackingCarrier, rmaSheetDetail.allCarrier)">
                Input tracking no.
            </button>
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="receive(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Receive
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 220">
            <button class="btn m-b-xs w-xs btn-success btn-rounded" style="width: 150px;" type="button"
                    ng-click="acceptArrangement(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Accept arrangement
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 240 && rmaSheetDetail.returnMethod == 20">
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="pickup(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Pick-up
            </button>
            <button class="btn m-b-xs w-xs btn-info btn-rounded" style="width: 130px;" type="button"
                    ng-click="inputTrackingNo(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.returnTrackingNo, rmaSheetDetail.returnTrackingCarrier, rmaSheetDetail.allCarrier)">
                Input tracking no.
            </button>
            <button class="btn m-b-xs w-xs btn-danger btn-rounded" style="width: 120px;" type="button"
                    ng-click="applyToCancel(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Apply to cancel
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 240 && rmaSheetDetail.returnMethod == 30">
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="dropOff(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Drop off
            </button>
            <button class="btn m-b-xs w-xs btn-info btn-rounded" style="width: 130px;" type="button"
                    ng-click="inputTrackingNo(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.returnTrackingNo, rmaSheetDetail.returnTrackingCarrier, rmaSheetDetail.allCarrier)">
                Input tracking no.
            </button>
            <button class="btn m-b-xs w-xs btn-danger btn-rounded" style="width: 120px;" type="button"
                    ng-click="applyToCancel(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Apply to cancel
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 250">
            <button class="btn m-b-xs w-xs btn-info btn-rounded" style="width: 130px;" type="button"
                    ng-click="inputTrackingNo(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.returnTrackingNo, rmaSheetDetail.returnTrackingCarrier, rmaSheetDetail.allCarrier)">
                Input tracking no.
            </button>
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="receive(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Receive
            </button>
            <button class="btn m-b-xs w-xs btn-danger btn-rounded" style="width: 120px;" type="button"
                    ng-click="applyToCancel(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Apply to cancel
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 260">
            <button class="btn m-b-xs w-xs btn-info btn-rounded" style="width: 130px;" type="button"
                    ng-click="inputTrackingNo(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.returnTrackingNo, rmaSheetDetail.returnTrackingCarrier, rmaSheetDetail.allCarrier)">
                Input tracking no.
            </button>
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="receive(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Receive
            </button>
            <button class="btn m-b-xs w-xs btn-danger btn-rounded" style="width: 120px;" type="button"
                    ng-click="applyToCancel(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Apply to cancel
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 280 || rmaSheetDetail.status == 290">
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="inspect(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Inspect
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 300">
            <button class="btn m-b-xs w-xs btn-success btn-rounded" style="width: 120px;" type="button"
                    ng-if="rmaSheetDetail.checkoutPrice > 0"
                    ng-click="sendQuotation(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Send quotation
            </button>
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-if="rmaSheetDetail.checkoutPrice == 0 && rmaSheetDetail.type == 20"
                    ng-click="replace(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.allCarrier)">
                Replace
            </button>
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-if="rmaSheetDetail.checkoutPrice == 0 && rmaSheetDetail.type == 30"
                    ng-click="repair(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Repair
            </button>
            <button class="btn m-b-xs w-xs btn-danger btn-rounded" style="width: 110px;" type="button"
                    ng-if="rmaSheetDetail.checkoutPrice == 0 && rmaSheetDetail.type == 10"
                    ng-click="applyRefund(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Apply refund
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 310">
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="sendBack(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.allCarrier)">Send
                back
            </button>
            <button class="btn m-b-xs w-xs btn-info btn-rounded" ng-if="rmaSheetDetail.type == 30" type="button"
                    ng-click="repair(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Repair
            </button>
            <button class="btn m-b-xs w-xs btn-danger btn-rounded" ng-if="rmaSheetDetail.type == 10"
                    style="width: 110px;" type="button"
                    ng-click="applyRefund(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Apply refund
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 330">
            <button class="btn m-b-xs w-xs btn-info btn-rounded" type="button"
                    ng-click="repair(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status)">Repair
            </button>
        </div>
        <div ng-if="rmaSheetDetail.status == 350">
            <button class="btn m-b-xs w-xs btn-success btn-rounded" type="button"
                    ng-click="release(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.allCarrier)">
                Release
            </button>
        </div>
        <div style="text-align: center;" ng-if="rmaSheetDetail.status == 60 && rmaSheetDetail.hasLogistics == 0">
            <button class="btn btn-default" type="button" ng-if="rmaSheetDetail.checkoutPrice == 0 && rmaSheetDetail.type == 20"    ng-click="replace(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.allCarrier)">Replace</button>
            <button class="btn btn-default" type="button" ng-if="rmaSheetDetail.type == 30"  ng-click="release(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.allCarrier)">Release</button>
        </div>
        <div style="text-align: center;" ng-if="rmaSheetDetail.status == 101 && rmaSheetDetail.hasLogistics == 0">
            <button class="btn btn-default" type="button"
                    ng-click="sendBack(rmaSheetDetail.rmaSheetId, rmaSheetDetail.status, rmaSheetDetail.allCarrier)">Send
                back
            </button>
        </div>
        <!-- RMA To Send Back -->
        <div style="text-align: center;" ng-if="handling.status == 100">
            <button class="btn btn-default" type="button" ng-click="sendBack(handling.rmaSheetId, handling.status)">Send back</button>
        </div>
    </div>
</div>
