<div class="container-fluid listStoreKnowledge wrapper-md" ng-controller="siteRmaInspectionController">
    <div class="lt" style="text-align: right;" ng-if="rmaSheetDetail.controlPrivilege == true">
        <button type="button" class="btn m-b-xs w-xs btn-info" style="margin-right: 0px;"  id="inspectionDoingBtn" ng-click="inspectionDoing()">Save</button>
        <button type="button" ng-if="rmaSheetDetail.status == 290" style="margin-right: 0px;margin-left: 20px;width: 120px;" class="btn m-b-xs w-xs btn-success" style="width:130px;" ng-click="inspectionfinish()" >Finish inspection</button>
    </div>

    <div class="panel panel-success" draggable="false">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">Remark</div>
        <div class="list-group bg-white"  style="padding: 20px;">
            <table class="rma-detail-table">
                <tr>
                    <td>
                        <textarea rows="3" cols="100" class="form-control" style="width: 800px;" ng-model="rmaSheetDetail.inspectRemark">{{rmaSheetDetail.inspectRemark}}
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        <span class="rma-detail-span" style="float: left;">Treatment: </span>
                        <select  style="width: 220px;float: left; margin-left: 10px;" class="form-control" id="treatmentType" ng-change="treatmentTypeChange()" name="treatmentType" ng-model="rmaSheetDetail.treatmentType" ng-options="treatmentTypes.key as treatmentTypes.value for treatmentTypes in rmaSheetDetail.treatmentTypes">
                            <option value="">----</option>
                        </select> 
                        <select ng-if="rmaSheetDetail.type==30" style="width: 220px; float: left;margin-left: 10px;" class="form-control" id="treatmentType2" name="treatmentType2" ng-model="rmaSheetDetail.treatmentType2" ng-options="treatmentTypes2.key as treatmentTypes2.value for treatmentTypes2 in rmaSheetDetail.treatmentTypes2">
                            <option value="">----</option>
                        </select> 
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 20px;">
                        <span class="rma-detail-span" style="float: left;">Attachment: </span>
                        <div class="col-sm-8">
                            <p><input type="file" nv-file-select="" ng-disabled="disables" name="attachment" uploader="uploader" ui-jq="filestyle" ui-options="{input: false, buttonText: '选择文件', icon: false, buttonName: 'btn-default',  badge: false}" multiple="" id="filestyle-0" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"></p>
                            <table class="table yel_background" id="class_fltk" ng-if="uploader.queue.length">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in uploader.queue" fname="{{item.file.name}}" furl="{{item.file.furl}}" fid="upload">
                                    <td><strong>{{ item.file.name}}</strong></td>

                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap="" class="text-center">
                                        <button type="button" class="btn btn-success btn-xs" ng-disabled="disables" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-disabled="disables"  ng-click="removeFile($index)">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                        <button type="button" class="btn btn-info btn-xs"  ng-if="item.isSuccess"  ng-click="showFile($event, item.file.name)">
                                             <span class="glyphicon  glyphicon-eye-open"></span> Download
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-success" draggable="false">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;"><span style="color: red;" ng-if="rmaSheetDetail.treatmentType==34">*</span>Quotation</div>
        <div class="list-group bg-white"  style="padding: 20px;">
            <table style="width: 80%;">
                <tr>
                    <td>
                        <p>
                            <span>SKU</span>
                            <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='searchQus.goodsCode'/>
                            <span style="margin-left: 10px;">Type</span>
                            <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='searchQus.type'/>
                            <span style="margin-left: 10px;">Name</span>
                            <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='searchQus.descr'/> 
                            
<!--                            <button class="btn m-b-xs w-xs btn-success"  type="button" ng-click="searchQuer()">Search</button>-->
                            <button class="btn m-b-xs w-xs btn-danger"  type="button" ng-click="resetSearchQuer()" >Reset</button>
                        </p>
                        </td>
                </tr>
                <tr>
                    <td>
                        <p style='float:right;padding-right: 130px;'> <span class="rma-detail-span">out of warranty: </span>{{rmaSheetDetail.depreciatePrice / 100| number :2}}
                            <span class="rma-detail-span" style="padding-left: 10px;">payment: </span>
                            <input type='text' class="form-control" ng-model="rmaSheetDetail.checkoutPrice" id="checkoutPrice" ng-keyup="isPositive('checkoutPrice');" ng-disabled="rmaSheetDetail.status != 290"  style="width: 70px;display: inline;" name='' size='8'/>
                            <span class="rma-detail-span" style="padding-left: 10px;">discount: </span> {{(rmaSheetDetail.depreciatePrice / 100 - rmaSheetDetail.checkoutPrice)| number :2}} (currency: {{rmaSheetDetail.currency}})
                        </p>
                    </td>
                </tr>
            </table>


            <!--Quotation-->
            <div>
                <div>
                    <table class="table" style="margin-bottom: 0px;width: 70%;">
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 300px;" /></colgroup>
                        <colgroup><col style="width: 150px;" /></colgroup>
                        <colgroup><col style="width: 150px;" /></colgroup>
                        <thead>
                        <tr style="background-color: #EAF0F7;" >
                            <th>select</th>
                            <th>SKU</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Quotation</th>
                            <th>Currency</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div style="height: 200px;overflow-y: auto;position: relative;width: 70%;" id="rmaInspectionDiv">
                    <table class="table">
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 300px;" /></colgroup>
                        <colgroup><col style="width: 150px;" /></colgroup>
                        <colgroup><col style="width: 150px;" /></colgroup>
                        <tbody>
                        <tr ng-repeat="findNonAList in rmaInspection.findNonAssurance  | filter: searchFindNonAssuranceCodeFilter| filter:searchFindNonAssuranceTypeFilter| filter:searchFindNonAssuranceDescrFilter ">
                            <td>
                                <label class="i-checks m-b-none">
                                    <input type='checkbox' ng-checked="findNonAList.isSelect" price="{{findNonAList.price}}" ng-click="topTRTAble($event, 10,'rmaInspectionDiv')" ng-disabled="rmaSheetDetail.status != 290 || !rmaSheetDetail.controlPrivilege"  name="findNonAssurance"   value="{{findNonAList.id}}"  class='MalfunctionList0'/>
                                    <i></i>
                                </label>
                            </td>
                            <td>
                                {{findNonAList.goodsCode}}
                            </td>
                            <td>
                                {{findNonAList.typeTxt}}
                            </td>
                            <td>
                                {{findNonAList.descr}}
                            </td>
                            <td>
                                {{findNonAList.price / 100| number :2}}
                            </td>
                            <td>
                                {{findNonAList.currency}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-success" draggable="false" ng-if="rmaSheetDetail.type == 20 && rmaSheetDetail.imeiRecord.length > 0">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;"><span style="color: red;" ng-if="rmaSheetDetail.treatmentType == 22">*</span>IMEI record</div>
        <div class="list-group bg-white"  style="padding: 20px;">
            <table class="rma-detail-table table  b-t b-light" style="width: 70%;">
                <thead>
                    <tr style="background-color: #EAF0F7;">
                        <th>SKU</th>
                        <th>Product</th>
                        <th>Previous IMEI</th>
                        <th>New IMEI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rmaGoodsList in rmaSheetDetail.rmaGoodsList" ng-if="(rmaGoodsList.imeiOld1 != null && rmaGoodsList.imeiOld1 != '') || (rmaGoodsList.imeiOld2 != null && rmaGoodsList.imeiOld2 != '')">
                        <td class="rma-detail-td">
                            {{rmaGoodsList.goodsCode}}
                        </td>
                        <td class="rma-detail-td" style="max-width:320px;">
                            {{rmaGoodsList.goodsName}}
                        </td>
                        <td class="rma-detail-td" style="max-width:140px;">
                            <span style="width: 100%;float: left;">{{rmaGoodsList.imeiOld1}}</span>
                            <span style="width: 100%" ng-if="rmaGoodsList.imeiOld2 != '' && rmaGoodsList.imeiOld2 != null">{{rmaGoodsList.imeiOld2}}</span>
                        </td>
                        <td class="rma-detail-td">
                            <input type='text' class="form-control" ng-model="rmaGoodsList.imeiNew1" ng-disabled="!rmaSheetDetail.controlPrivilege || rmaSheetDetail.treatmentType != 22" style="width: 180px;float: left;" id="newImeiIns" name="newImeiIns"/>                          
                            <button class="btn m-b-xs w-xs btn-success"  type="button" style="margin-left: 5px;" ng-disabled="rmaSheetDetail.treatmentType != 22" ng-if="rmaSheetDetail.controlPrivilege" ng-click="saveImeiIns(rmaGoodsList.id)">Save</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="panel panel-success" style="max-height: 400px" draggable="false">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;"><span style="color: red;">*</span>Malfunction Symptom</div>
        <div class="list-group bg-white"  style="padding: 20px;">
            <table style="margin-bottom: 10px;">
                <tr>
                    <td colspan=4>
                        <span>Code</span>
                        <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='smalfunction.code'/>
                        <span style="margin-left: 10px;">Category</span>
                        <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='smalfunction.type'/>
                        <span style="margin-left: 10px;">Description</span>
                        <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='smalfunction.descr'/>
                        <button class="btn m-b-xs w-xs btn-danger"  type="button" ng-click="resetsMalfunctionSear()" >Reset</button>
                    </td>
                </tr>
            </table>

            <!--Malfunction Symptom-->
            <div>
                <div>
                    <table class="table" style="margin-bottom: 0px;width: 70%;">
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 400px;" /></colgroup>
                        <colgroup><col style="width: 300px;" /></colgroup>
                        <thead>
                        <tr style="background-color: #EAF0F7;" >
                            <th>select</th>
                            <th>Code</th>
                            <th>Category</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div style="height: 200px;overflow-y: auto;position: relative;width: 70%;" id="MalfunctionSymptom1Div">
                    <table class="table">
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 400px;" /></colgroup>
                        <colgroup><col style="width: 300px;" /></colgroup>
                        <tbody>
                            <tr ng-repeat="MalfunctionList in rmaInspection.MalfunctionSymptom1  | filter: searchSmalfunctionCodeFilter| filter:searchSmalfunctionTypeFilter| filter:searchSmalfunctionDescrFilter" >
                                <td>
                                    <label class="i-checks m-b-none" >
                                        <input type='checkbox' ng-click="topTRTAble($event, 20,'MalfunctionSymptom1Div')" ng-disabled="!rmaSheetDetail.controlPrivilege"  ng-checked="MalfunctionList.isSelect" value="{{MalfunctionList.code}}" name="MalfunctionSymptom1"  class='MalfunctionList1'/>
                                        <i></i>
                                    </label>
                                </td>
                                <td>
                                    {{MalfunctionList.code}}
                                </td>
                                <td>
                                    {{MalfunctionList.typeTxt}}
                                </td>
                                <td style="word-break: break-all;">
                                    {{MalfunctionList.descr}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success" style="max-height: 400px" draggable="false">
        <div class="panel-heading" style="font-size: 16px;font-weight: bolder;"><span style="color: red;">*</span>Malfunction Cause</div>
        <div class="list-group bg-white"  style="padding: 20px;">
            <table style="margin-bottom: 10px;">
                <tr class="fixedThead">
                    <td colspan=4>
                        <span>Code</span>
                        <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='cmalfunction.code'/>
                        <span style="margin-left: 10px;">Category</span>
                        <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='cmalfunction.type'/>
                        <span style="margin-left: 10px;">Description</span>
                        <input type='text' class="form-control" style="width: 180px;display: inline;" ng-model='cmalfunction.descr'/>
<!--                        <button class="btn m-b-xs w-xs btn-success"  type="button" ng-click="cmalfunctionSear('Cause')">Search</button>      -->
                        <button class="btn m-b-xs w-xs btn-danger"  type="button" ng-click="resetcMalfunctionSear()" >Reset</button>
                    </td>
                </tr>
            </table>

            <!--Malfunction Cause-->
            <div>
                <div>
                    <table class="table" style="margin-bottom: 0px;width: 70%;">
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 400px;" /></colgroup>
                        <colgroup><col style="width: 300px;" /></colgroup>
                        <thead>
                        <tr style="background-color: #EAF0F7;">
                            <th>select</th>
                            <th>Code</th>
                            <th>Category</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div style="height: 200px;overflow-y: auto;position: relative;width: 70%;" id="MalfunctionSymptom2Div">
                    <table class="table">
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 100px;" /></colgroup>
                        <colgroup><col style="width: 400px;" /></colgroup>
                        <colgroup><col style="width: 300px;" /></colgroup>
                        <tbody>
                        <tr ng-repeat="MalfunctionList in rmaInspection.MalfunctionSymptom2 | filter:searhChcmalfunctionCodeFilter | filter:searchChcmalfunctionTypeFilter| filter:searchChcmalfunctionDescrFilter ">
                            <td>
                                <label class="i-checks m-b-none"  >
                                    <input type='checkbox' ng-click="topTRTAble($event, 30,'MalfunctionSymptom2Div')" ng-disabled="!rmaSheetDetail.controlPrivilege" ng-checked="MalfunctionList.isSelect" value="{{MalfunctionList.code}}"  name="MalfunctionSymptom2"  class='MalfunctionList2'/>
                                    <i></i>
                                </label>
                            </td>
                            <td>
                                {{MalfunctionList.code}}
                            </td>
                            <td>
                                {{MalfunctionList.typeTxt}}
                            </td>
                            <td>
                                {{MalfunctionList.descr}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>