<div class="container-fluid invitetsList wrapper-md" ng-controller="mainboardController">
    <div style="margin: 0 auto;">
        <div style="margin: 0 auto;width: 550px; text-align: center;">
            <p><img src="statics/img/logo_1.png" style="heigth:50px; width:200px;"></p>
            <div class="row ">
                <div class="col-sm-12">
                    <form class="bs-example form-horizontal ng-pristine ng-valid">
                        <div class="form-group text-left">
                            <label class="m-t-sm inline" style="margin-left:40px;"><h3 class="inline">Mainboard</h3></label>
                            <input class="form-control inline" type="text" style="width:260px;mar" ng-model="orderNo" placeholder="Input mainboard number.">
                            <button class="btn m-b-xs w-xs btn-success" type="submit" ng-click="queryDetail()">{{ 'invitetsQuery.navbar.btn-query' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-if="orderDetail">
            <!--IMEI info-->
            <div class="panel panel-info" draggable="false">
                <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">IMEI info</div>
                <div class="list-group bg-white" style="padding: 20px;">
                    <table class="rma-detail-table">
                        <tr>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Sn: </span>
                                <span>{{orderDetail.Sn}}</span>
                            </td>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">IMEI 1: </span>
                                <span>{{orderDetail.Imei1}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Order: </span>
                                <span>{{orderDetail.wmsInfo.orderInfo.orderNo}}</span>
                            </td>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">IMEI 2: </span>
                                <span>{{orderDetail.Imei2}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="rma-detail-td" colspan="2">
                                <span class="rma-detail-span">Product: </span>
                                <span>{{orderDetail.wmsInfo.productName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Country: </span>
                                <span>{{orderDetail.Country}}</span>
                            </td>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Color: </span>
                                <span>{{orderDetail.Color}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Production Date: </span>
                                <span>{{orderDetail.wmsInfo.inStorageTime}}</span>
                            </td>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Dispatching Date: </span>
                                <span>{{orderDetail.wmsInfo.orderInfo.shippingTime|date:'yyyy-MM-dd'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="rma-detail-td" colspan="2">
                                <span class="rma-detail-span">Remark: </span>
                                <span>{{orderDetail.wmsInfo.remark}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!--Insurance info-->
            <div ng-if="orderDetail.insuranceInfo" class="panel panel-info" draggable="false">
                <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">Insurance info</div>
                <div class="list-group bg-white table-responsive" style="padding: 20px;">
                    <table class="table table-striped b-t b-light" style="width: 90%;border: 1px solid #dee5e7;">
                        <thead>
                        <tr>
                            <th>Insurance id</th>
                            <th>Insurance Num</th>
                            <th>Insurance Type</th>
                            <th>Status</th>
                            <th>Expiration Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in orderDetail.insuranceInfo">
                            <td class="rma-detail-td">
                                {{item.warranty_code}}
                            </td>
                            <td class="rma-detail-td">
                                {{item.insurance_code}}
                            </td>
                            <td class="rma-detail-td">
                                {{item.typeTxt}}
                            </td>
                            <td class="rma-detail-td">
                                {{item.statusTxt}}
                            </td>
                            <td class="rma-detail-td">
                                {{item.expirationTimeTxt}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Product info-->
            <!--
            <div class="panel panel-info" draggable="false">
                <div class="panel-heading" style="font-size: 16px;font-weight: bolder;">Product info</div>
                <div class="list-group bg-white" style="padding: 20px;">
                    <table class="rma-detail-table">
                        <tr>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Software Vision: </span>
                                <span>{{orderDetail.softwareVision}}</span>
                            </td>
                            <td class="rma-detail-td">
                                <span class="rma-detail-span">Problem: </span>
                                <span>{{orderDetail.Problem}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            -->
        </div>

        <!-- 查询无数据 -->
        <div  ng-if="!orderDetail">
            <table class="table">
                <tr>
                    <td class="text-center">{{ 'navigation.NoDatas' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>