<!-- 左侧菜单list Start-->
<ul ng-controller="IndexController" class="nav" ng-init="load()">
    <li ng-init="isActive=checkIsActive(menu.list)" ng-class="{active:isActive}" ng-repeat="menu in siteMenuData" class="active">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-chevron-right text"></i>
        <i class="fa fa-chevron-down text-active"></i>
      </span>
            <i class="{{menu.icon}}"></i>
            <span>{{menu.itemname}}</span>
        </a>

        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" ng-repeat="subMenu in menu.list">
                <a ui-sref="{{subMenu.url}}">
                    <span>{{subMenu.name}}</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- 左侧菜单list End-->