<div class="container-fluid listStoreKnowledge wrapper-md" ng-controller="logisticsController" ng-init="load(1)">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid">
                <div class="form-group">
                    <div class="col-lg-2 m-l-md">
                        <select class="form-control" ng-model="couriers" ng-change="changeCouriers()">
                            <option value="">Select courier</option>
                            <option ng-repeat="item in couriersList" value="{{item.slug}}">
                                {{item.name}}
                            </option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <input type="text" placeholder="Input tracking number" class="form-control" id="tracking_number" ng-model="tracking_number">
                    </div>

                    <div class="col-lg-1">
                        <button class="btn m-b-xs w-xs btn-success" type="button" ng-click="query()" ng-disabled="queryDisabled">
                            Query
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="logistics-main">
        <div id="timeline" class="logistics-main-left panel panel-success">
            <div class="panel-heading">
                <span class="badge">{{trackingInfo.checkpoints.length}}</span> Tracking Info Here:
            </div>

            <div class="panel-body">
                <div class="text-center" ng-show="!trackingInfoLoaded && queryDisabled">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>

                <div ng-if="trackingInfo.checkpoints.length <= 0" class="alert ng-isolate-scope alert-warning alert-dismissable" role="alert" type="warning">
                    <div><span class="ng-binding ng-scope">No tracking information yet...</span></div>
                </div>

                <div class="list-group bg-white" ng-if="trackingInfo.checkpoints.length > 0">
                    <div class="padder checkpointItem" itemLocation="{{item.location}}" ng-repeat="item in trackingInfo.checkpoints">
                        <div class="streamline b-l b-info m-l-lg padder-v">
                            <div>
                                <a class="pull-left thumb-sm avatar m-l-n-md">
                                </a>

                                <div class="m-l-lg">
                                    <div class="m-b-xs">
                                        <span class="text-dark m-l-sm">
                                            {{item.checkpoint_time|date:'yyyy-MM-dd HH:mm:ss'}}
                                        </span>
                                    </div>
                                    <div class="m-b-xs">
                                        <span class="text-muted m-l-sm" title="{{item.message}}">
                                            {{item.message}}
                                            <span class="badge">{{item.slug}}</span>
                                        </span>
                                    </div>
                                    <div class="m-b-xs">
                                        <span class="badge bg-info" ng-if="item.location">
                                            {{item.location}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="googleMap" google-map="" class="logistics-main-right panel panel-default" style=""></div>-->
        <div id="googleMap" class="logistics-main-right panel panel-default">
            <ng-map style="display: block;height: 800px;" center="20, -144" zoom="3">
                <marker ng-repeat="item in trackingInfoForMap.checkpoints" 
                        id='{{item.id}}' position="{{item.position}}" 
                        title="{{item.location}}" 
                        icon="{{item.icon}}" 
                        animation="{{item.animation}}" 
                        label="{{item.label}}" 
                        on-mouseover="showTrachingItemInfo(item)"
                        on-mouseout="hideTrachingItemInfo(item)"
                        >
                </marker>
            </ng-map>
        </div>
    </div>
