<div class="table-responsive" >
    <table class="table table-striped b-t b-light">
        <thead>
            <tr style="background-color: #EAF0F7;">
                <th>Tracking Number</th>
                <th>Slug</th>
                <th>Tag</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in logisticsList">
                <td><a ui-sref="app.logistics.query({slug:item.slug, tracking_number:item.tracking_number})" target="_blank" href="#" class="text-info ng-scope" tooltip="view">{{item.tracking_number}}</a></td>
                <td>{{item.slug}}</td>
                <td>
                    <span ng-if="item.tag==InfoReceived" class="label bg-success">{{item.tag}}</span>
                    <span ng-if="item.tag!=InfoReceived" class="label bg-info">{{item.tag}}</span>
                </td>
                <td>{{item.created_at|date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{item.updated_at|date:'yyyy-MM-dd HH:mm'}}</td>
                <td>
                    <div class="btn-group dropdown open">
                        <button class="btn btn-primary btn-sm dropdown-toggle ng-binding" aria-haspopup="true" aria-expanded="true" style="width: 50px;height: 30px;">
                            Action
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width: 80px;">
                            <li><a href="" ng-click="deleteAftershipByid(item.id)">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            <!-- 查询无数据 -->
            <tr ng-if="!logisticsList.length">
                <td class="text-center" colspan="12" >{{ 'navigation.NoDatas' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer">
    <div class="text-center" ng-show="logisticsList.length">
        <pagination total-items="pager.totalRecord" items-per-page="pager.pageSize" ng-model="vm.currentPage" class="pagination-sm" boundary-links="true" rotate="false" max-size="6" ng-change="search()"></pagination>
    </div>
</div>