<div class="container-fluid listStoreKnowledge wrapper-md" ng-controller="rmaLogisticsController"  ng-init="load()">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-validation form-inline ng-pristine ng-valid">
                <div style="height: auto;">
                    <div class="ng-scope">
                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="fixed-width-span ng-binding">
                                    时间范围
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <select class="form-control  base-search-input"  name="time" ng-model="rmaLogisticsListForm.inTime" >
                                    <option value="">----</option>
                                    <option ng-repeat="item in rl_timeScope" value="{{item.key}}" ng-selected="item.key == rmaLogisticsListForm.inTime">
                                        {{item.value}}
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="fixed-width-span ng-binding">
                                    类型
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <select class="form-control  base-search-input"  name="send_type" ng-model="rmaLogisticsListForm.send_type">
                                    <option ng-repeat="item in rl_type" value="{{item.key}}" ng-selected="item.key == rmaLogisticsListForm.send_type">
                                        {{item.value}}
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="fixed-width-span ng-binding" style="width: 92px;">
                                    状态
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <select class="form-control  base-search-input"  name="delivery_status" ng-model="rmaLogisticsListForm.delivery_status" >
                                    <option value="">----</option>
                                    <option ng-repeat="item in rl_status" value="{{item.key}}" ng-selected="item.key == rmaLogisticsListForm.delivery_status">
                                        {{item.value}}
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <a ng-click="vm.showOtherFilers = !vm.showOtherFilers">
                                    Other Filters
                                </a>
                            </label>
                        </div>
                    </div>

                    <!--otherFilers-->
                    <div class="ng-scope" ng-show="vm.showOtherFilers">
                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="fixed-width-span ng-binding">
                                    Tracking#
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <input type="text" style="width: 200px;" placeholder="" name="tracking_number" id="tracking_number"  class="form-control"  ng-model="rmaLogisticsListForm.tracking_number" >
                            </label>
                        </div>
                        
                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="fixed-width-span ng-binding">
                                    RMA#
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <input type="text" style="width: 200px;" placeholder="" name="source_num" id="source_num"  class="form-control"  ng-model="rmaLogisticsListForm.source_num">
                            </label>
                        </div>

                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="ng-binding">
                                    Service Center
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <select class="form-control  base-search-input" name="service_center" ng-model="rmaLogisticsListForm.service_center" >
                                    <option value="">----</option>
                                    <option ng-repeat="item in allServiceNodePartner" value="{{item.key}}" ng-selected="item.key == rmaLogisticsListForm.service_center">
                                        {{item.value}}
                                    </option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="ng-scope" ng-show="vm.showOtherFilers"><!--此处有坑，千万不要使用ng-if, 与datepicker不兼容！！！调了我1个多小时，哎-->
                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="ng-binding">
                                    Deliver Date
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <div class="input-group ng-scope" style="width: 200px;">
                                    <input type="text"  class="form-control" datepicker-popup="{{format}}" ng-model="rmaLogisticsListForm.timeStart" name="startTime" placeholder="yyyy-MM-dd" is-open="startTimeOpened" datepicker-options="dateOptions"  close-text="Close"/>
                                    <span class="input-group-btn" style="width: 1%;">
                                        <button type="button" class="btn btn-default" style="height: 34px;" ng-click="open('startTime', $event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </label>
                        </div>
                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label ng-scope">
                                <span class="ng-binding">
                                    To
                                </span>
                                <span class="ng-scope">
                                    ：
                                </span>

                                <div class="input-group ng-scope" style="width: 200px;">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="rmaLogisticsListForm.timeEnd" name="endTime"  placeholder="yyyy-MM-dd" is-open="endTimeOpened" datepicker-options="dateOptions"  close-text="Close"/>
                                    <span class="input-group-btn" style="width: 1%;">
                                        <button type="button" class="btn btn-default" style="height: 34px;" ng-click="open('endTime', $event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </label>
                        </div>
                    </div>

                    <!--button-->
                    <div class="ng-scope">
                        <div class="form-group m-r m-t ng-scope">
                            <label class="base-search-label base-search-label-btn"></label>
                            <button class="btn m-b-xs w-xs btn-success" type="submit" ng-click="search()">Search</button>
                            <button class="btn m-b-xs w-xs btn-danger" type="button" ng-click="reset()" >Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--统计-->
    <div class="panel panel-default">
        <div class="panel-body">
            <!--<div class="btn-group btn-group-justified">-->
                <!--<a href="" style="height: 50px;" ng-click="statisticsBtnFunc(item.id);" ng-repeat="item in statistics" ng-class="{btn:1, 'btn-primary':($index % 3 == 0), 'btn-info':($index % 3 == 1), 'btn-success':($index % 3 == 2), 'btn-danger':(statisticsBtnCurrentIndex == item.id)}">{{item.name}}<br />{{item.num}}</a>-->
            <!--</div>-->

            <div class="btn-group btn-group-justified">
                <a href="" style="height: 50px;" ng-click="statisticsBtnFunc(item.id);" ng-repeat="item in statistics" ng-class="{btn:1, 'btn-default':1, 'btn-primary':(statisticsBtnCurrentIndex == item.id)}">
                    {{item.name}}<br />
                    {{item.num}}<br />
                    {{item.avgTat}}
                </a>
            </div>
        </div>
    </div>
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-body">-->
            <!--<button ng-class="{'btn':1,  'm-b-xs':1, 'w-xs':1, 'btn-default':1, 'btn-primary':(statisticsBtnCurrentIndex == item.id)}" ng-click="statisticsBtnFunc(item.id);" ng-repeat="item in statistics">{{item.name}}<br />{{item.num}}</button>-->
        <!--</div>-->
    <!--</div>-->

    <!--列表数据-->
    <div class="panel panel-default">
        <div ng-include="'statics/tpl/logistics/rma_logistics_list_page.html'"></div>
    </div>